# Data Preprocessing 

This notebook fixes the issue of multipile supplierID's for a single supplirName in the `products_data.csv` file. The issue is that the supplierID's are not unique for a single supplierName. This notebook fixes this issue by creating a new column `supplierID` which is unique for a single supplierName.

In [ ]:
!pip install pandas

In [24]:
import pandas as pd

In [25]:
path = r"/Users/aaqibnazir/Documents/uni/DWH/AaqibAhmedNazir_22i1920_Project/src/data/products_data.csv"

In [26]:
df = pd.read_csv(path)

In [27]:
df.head()

,productID,productName,productPrice,supplierID,supplierName,storeID,storeName
0,2,Dell XPS 13 Laptop,1299.99$,2,Dell Technologies,2,Tech Haven
1,21,DJI Mavic Air 2 Drone,799.99$,20,DJI,6,Photo World
2,29,AOC CQ32G1 Curved Gaming Monitor,349.99$,27,AOC International,4,Game Zone
3,11,LG OLED C1 4K TV,2499.99$,11,LG Electronics,1,Electro Mart
4,99,Jabra Elite 75t True Wireless Earbuds,149.99$,37,Jabra,3,Sound Zone

In [28]:
# Check uqine values in supplier Name: 
df['supplierName'].unique()

array(['Dell Technologies', 'DJI', 'AOC International', 'LG Electronics',
       'Jabra', 'Acer Inc.', 'Lenovo Group', 'Google LLC', 'Corsair',
       'Fujifilm Holdings Corporation', 'Logitech', 'Alienware (Dell)',
       'ASUS', 'JBL', 'Canon Inc.', 'Apple Inc.',
       'HyperX (Kingston Technology)', 'Fitbit Inc.', 'HP Inc.',
       'Amazon.com, Inc.', 'Sony Corporation', 'OnePlus Technology',
       'Bose Corporation', 'NVIDIA Corporation', 'Anker Innovations',
       'Microsoft Corporation', 'MSI (Micro-Star International)',
       'Ring (Amazon)', 'Nikon Corporation', 'SteelSeries', 'Sennheiser',
       'ROCCAT (Turtle Beach)', 'Roku, Inc.', 'Beats by Dre (Apple Inc.)',
       'Pakistan', 'GoPro Inc.', 'Samsung Electronics',
       'Ultimate Ears (Logitech)', 'Garmin Ltd.', 'Razer Inc.',
       'Sonos Inc.'], dtype=object)

In [29]:
supplierName = df['supplierName'].unique()
supplierID = range(1, len(supplierName)+1)
supplier_dict = dict(zip(supplierName, supplierID))

In [30]:
df.head()

,productID,productName,productPrice,supplierID,supplierName,storeID,storeName
0,2,Dell XPS 13 Laptop,1299.99$,2,Dell Technologies,2,Tech Haven
1,21,DJI Mavic Air 2 Drone,799.99$,20,DJI,6,Photo World
2,29,AOC CQ32G1 Curved Gaming Monitor,349.99$,27,AOC International,4,Game Zone
3,11,LG OLED C1 4K TV,2499.99$,11,LG Electronics,1,Electro Mart
4,99,Jabra Elite 75t True Wireless Earbuds,149.99$,37,Jabra,3,Sound Zone

In [ ]:
df.to_csv(r"/Users/aaqibnazir/Documents/uni/DWH/AaqibAhmedNazir_22i1920_Project/src/data/products_data.csv", index=False)